@import 'tailwindcss';

/* On force le scan de tous les dossiers 'app' de tous les layers */
/* On remonte depuis : layers/base/app/assets/css/ (5 niveaux) */
@source '../../../../../layers/*/app/**/*.vue';
@source '../../../../../app.vue';
@source '../../../../../app/**/*.vue';

@theme {
  /* Exemple de palette "Impact Excellence" */
  --color-primary-50: #f0f4f8;
  --color-primary-600: #1e3a8a; /* Un bleu plus profond */
  --color-primary-700: #172554;

  --color-accent: #d4af37; /* Excellence Gold */

  --color-background-app: #fcfcfc;
}

@layer components {
  .btn-primary {
    /* Utilisation des nouvelles variables de thème */
    @apply bg-primary-600 hover:bg-primary-700 rounded-lg px-4 py-2 text-white transition-all duration-200 hover:shadow-md active:scale-95;
  }

  /* Style spécifique pour les cartes de planning */
  .planning-card {
    @apply border-accent border-l-4 bg-white p-4 shadow-sm;
  }
}
